* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}