@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.e16_11 {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.e36_73 {
  background-color: rgba(83.00000265240669, 86.00000247359276, 255, 1);
  border-radius: 6999px;
  color: rgba(255, 255, 255, 1);
  padding: 8px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e2001_14 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.e31_50 {
  background-color: rgba(83.00000265240669, 86.00000247359276, 255, 1);
  border-radius: 8px;
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
  padding: 16px;
}
.card {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  gap: 4px;
  max-width: 600px;
}
.e31_63 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 92px;
  height: 15px;
  
  left: 11px;
  top: 41px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e31_64 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 156px;
  height: 15px;
  
  left: 11px;
  top: 60px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e31_66 {
  width: 323px;
  height: 88px;
  
  left: 18px;
  top: 252px;
}
.e31_57 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 323px;
  height: 88px;
  
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e31_58 {
  color: rgba(255, 255, 255, 1);
  width: 132px;
  height: 19px;
  
  left: 12px;
  top: 8px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.e31_59 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 92px;
  height: 15px;
  
  left: 11px;
  top: 42px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e31_60 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 156px;
  height: 15px;
  
  left: 11px;
  top: 60px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e31_65 {
  width: 323px;
  height: 88px;
  
  left: 18px;
  top: 148px;
}
.e31_46 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 323px;
  height: 88px;
  
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e31_52 {
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: 19px;
  
  left: 12px;
  top: 7px;
  font-family: Inter;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0;
}
.e31_55 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 92px;
  height: 15px;
  
  left: 12px;
  top: 42px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e31_56 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 156px;
  height: 15px;
  
  left: 11px;
  top: 60px;
  font-family: Inter;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0;
}
.e31_45 {
  color: rgba(0, 0, 0, 1);
  width: 123px;
  height: 24px;
  
  left: 18px;
  top: 115px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e2001_30 {
  width: 224px;
  height: 32px;
  
  left: 18px;
  top: 59px;
}
.e16_12 {
  background-color: rgba(83.00000265240669, 86.00000247359276, 255, 1);
  width: 224px;
  height: 32px;
  
  left: 0px;
  top: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.e20_30 {
  color: rgba(255, 255, 255, 1);
  width: 179px;
  height: 24px;
  
  left: 22px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e22_35 {
  width: 32px;
  height: 32px;
  
  left: 309px;
  top: 59px;
}
.e22_36 {
  color: rgba(
    46.000001057982445,
    48.000000938773155,
    140.00000685453415,
    1
  );
  width: 100%;
  height: 100%;
  
  left: 5.333333492279053px;
  top: 3.999999761581421px;
}
.e26_52 {
  width: 32px;
  height: 32px;
  
  left: 164px;
  top: 11px;
}
.e26_53 {
  color: rgba(
    46.000001057982445,
    48.000000938773155,
    140.00000685453415,
    1
  );
  width: 100%;
  height: 100%;
  
  left: 1.333333134651184px;
  top: 3.999999761581421px;
}
