@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.e29_16 {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 100%;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  min-height: 100vh;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.e2001_34 {
  width: 100%;
  height: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(83.00000265240669, 86.00000247359276, 255, 1);
  border-radius: 16px;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.e29_18 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  display: block;
  width: 100%;
}
.form-control {
  position: relative;
  width: 100%;
}
.input {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 100%;
  height: 48px;
  border-radius: 6999px;
  border: none;
  padding: 16px;
}
.label {
  color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 16px;
  top: 16px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
}
.e29_31 {
  width: 275px;
  height: 48px;
  
  left: 21px;
  top: 202px;
}
.e29_20 {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 275px;
  height: 48px;
  
  left: 0px;
  top: 0px;
  border-top-left-radius: 6999px;
  border-top-right-radius: 6999px;
  border-bottom-left-radius: 6999px;
  border-bottom-right-radius: 6999px;
}
.e29_23 {
  color: rgba(0, 0, 0, 0.25);
  width: 50px;
  height: 18px;
  
  left: 18px;
  top: 15px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.e29_36 {
  width: 275px;
  height: 48px;
  
  left: 21px;
  top: 74px;
}
.e29_37 {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 275px;
  height: 48px;
  
  left: 0px;
  top: 0px;
  border-top-left-radius: 6999px;
  border-top-right-radius: 6999px;
  border-bottom-left-radius: 6999px;
  border-bottom-right-radius: 6999px;
}
.e29_38 {
  color: rgba(0, 0, 0, 0.25);
  width: 50px;
  height: 18px;
  
  left: 18px;
  top: 15px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.e29_39 {
  width: 275px;
  height: 48px;
  
  left: 21px;
  top: 138px;
}
.e29_40 {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 275px;
  height: 48px;
  
  left: 0px;
  top: 0px;
  border-top-left-radius: 6999px;
  border-top-right-radius: 6999px;
  border-bottom-left-radius: 6999px;
  border-bottom-right-radius: 6999px;
}
.e29_41 {
  color: rgba(0, 0, 0, 0.25);
  width: 50px;
  height: 18px;
  
  left: 18px;
  top: 15px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.button {
  padding: 8px;

  border-radius: 8px;
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
}
.e29_25 {
  color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e2001_33 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.e29_19 {
  color: rgba(46.000001057982445, 48.000000938773155, 140.00000685453415, 1);
  width: 264px;
  height: 29px;
  
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e29_27 {
  color: rgba(46.000001057982445, 48.000000938773155, 140.00000685453415, 1);
  font-family: Inter;
  font-size: 20px;
}
.e29_28 {
  width: 25px;
  height: 25px;
}
