.e4_11 {
  background-color: rgba(223.00000190734863, 245.00000059604645, 255, 1);
  width: 360px;
  height: 849px;
  position: absolute;
}
.e2001_26 {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 190px;
  top: 333px;
}
.e11_35 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 154px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e29_8 {
  color: rgba(255, 255, 255, 1);
  width: 116px;
  height: 58px;
  position: absolute;
  left: 19px;
  top: 48px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e2001_24 {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 16px;
  top: 506px;
}
.e11_30 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 154px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e29_9 {
  color: rgba(255, 255, 255, 1);
  width: 114px;
  height: 58px;
  position: absolute;
  left: 20px;
  top: 48px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e2001_23 {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 190px;
  top: 506px;
}
.e11_36 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 154px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e29_11 {
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 58px;
  position: absolute;
  left: 32px;
  top: 48px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e2001_22 {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 103px;
  top: 679px;
}
.e11_31 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 154px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e29_12 {
  color: rgba(255, 255, 255, 1);
  width: 69px;
  height: 29px;
  position: absolute;
  left: 43px;
  top: 62px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e2001_25 {
  width: 154px;
  height: 154px;
  position: absolute;
  left: 16px;
  top: 333px;
}
.e11_29 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 154px;
  height: 154px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e11_41 {
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: 58px;
  position: absolute;
  left: 17px;
  top: 48px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e2001_29 {
  width: 328px;
  height: 200px;
  position: absolute;
  left: 16px;
  top: 98px;
}
.e2001_28 {
  background-color: rgba(
    103.0000014603138,
    198.00000339746475,
    227.00000166893005,
    1
  );
  width: 328px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e2001_27 {
  width: 168px;
  height: 32px;
  position: absolute;
  left: 16px;
  top: 48px;
}
.e11_26 {
  background-color: rgba(83.00000265240669, 86.00000247359276, 255, 1);
  width: 168px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.e11_27 {
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: 24px;
  position: absolute;
  left: 49px;
  top: 4px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e22_31 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 312px;
  top: 48px;
}
.e22_32 {
  background-color: rgba(
    46.000001057982445,
    48.000000938773155,
    140.00000685453415,
    1
  );
  width: 21.33333396911621px;
  height: 21.33333396911621px;
  position: absolute;
  left: 5.333333492279053px;
  top: 5.333333492279053px;
}
.e25_42 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 164px;
  top: 6px;
}
.e25_43 {
  background-color: rgba(
    46.000001057982445,
    48.000000938773155,
    140.00000685453415,
    1
  );
  width: 29.333332061767578px;
  height: 24px;
  position: absolute;
  left: 1.333333134651184px;
  top: 3.999999761581421px;
}
